<header>
	<nav class="navbar bg-body-tertiary">
		<div class="">
			<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#{{id}}" aria-controls="{{id}}" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="#">Agiltrack</a>
			<div class="offcanvas offcanvas-start" tabindex="-1" id="{{id}}" aria-labelledby="{{id}}Label">
				<div class="offcanvas-header">
					<h5 class="offcanvas-title" id="{{id}}Label">Agiltrack</h5>
					<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>
				<div class="offcanvas-body">
					<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
						<twig:NavLink link="/" text="Tableau de bord"/>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Vehicules
							</a>
							<ul class="dropdown-menu">
								<twig:NavLink dropdown="{{true}}" link="/vehicles/bus" text="Bus"/>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Resources
							</a>
							<ul class="dropdown-menu">
								<twig:NavLink dropdown="{{true}}" link="/resources/box" text="Boitiers"/>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</header>
