<div id="{{id}}" class="fixed top-0 left-0 z-40 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white w-64 dark:bg-gray-800" tabindex="-1" aria-labelledby="{{id}}-label">
	<h5 id="{{id}}-label" class="text-base font-semibold text-gray-500 uppercase dark:text-gray-400">Agiltrack</h5>
	<button type="button" data-drawer-hide="{{id}}" aria-controls="{{id}}" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 right-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
		<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 14 14">
			<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
		</svg>
		<span class="sr-only">Close menu</span>
	</button>
	<div class="py-4 overflow-y-auto">
		<ul class="space-y-2 font-medium">
			<li>
				<twig:SidebarLink link="/" text="Vue d'Ensemble">
					<twig:block name="lead">
						<svg class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 22 21">
							<path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"/>
							<path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"/>
						</svg>
					</twig:block>
				</twig:SidebarLink>
			</li>
			<li>
				<button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="vehicle-menu-dropdown" data-collapse-toggle="vehicle-menu-dropdown">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" version="1.1"><path d="M524.48 416C736 416 896 333.44 896 224s-160-192-371.52-192C333.76 32 128 105.28 128 224s205.76 192 396.48 192z m0-320C705.6 96 832 163.52 832 224s-126.4 128-307.52 128S192 281.92 192 224s148.48-128 332.48-128zM182.72 777.28a32 32 0 0 0-5.12-3.84 17.6 17.6 0 0 0-5.44-2.88 19.84 19.84 0 0 0-6.08-2.56 32 32 0 0 0-28.8 8.64 36.8 36.8 0 0 0-6.72 10.56A32 32 0 0 0 128 800a26.56 26.56 0 0 0 2.56 12.16 37.12 37.12 0 0 0 6.72 10.56 36.8 36.8 0 0 0 10.56 6.72 30.08 30.08 0 0 0 24.32 0 37.12 37.12 0 0 0 10.56-6.72 37.12 37.12 0 0 0 6.72-10.56 30.08 30.08 0 0 0 0-24.32 36.8 36.8 0 0 0-6.72-10.56zM390.08 915.2a469.44 469.44 0 0 1-137.28-47.04 32 32 0 0 0-32 55.68 535.36 535.36 0 0 0 156.48 54.08h6.08a32 32 0 0 0 6.08-64zM844.48 738.56a32 32 0 0 0-16.64 41.92A48.32 48.32 0 0 1 832 800c0 60.48-126.4 128-307.52 128H512a32 32 0 0 0 0 64h13.12C736 992 896 909.44 896 800a112.64 112.64 0 0 0-9.28-44.48 32 32 0 0 0-42.24-16.96z"/><path d="M844.48 354.56a32 32 0 0 0-16.64 41.92A48.32 48.32 0 0 1 832 416c0 60.48-126.4 128-307.52 128S192 473.92 192 416a39.36 39.36 0 0 1 4.48-17.92 32 32 0 1 0-57.28-28.48A103.68 103.68 0 0 0 128 416c0 118.72 205.76 192 396.48 192C736 608 896 525.44 896 416a112.64 112.64 0 0 0-9.28-44.48 32 32 0 0 0-42.24-16.96z"/><path d="M844.48 546.56a32 32 0 0 0-16.64 41.92A48.32 48.32 0 0 1 832 608c0 60.48-126.4 128-307.52 128S192 665.92 192 608a39.36 39.36 0 0 1 4.48-17.92 32 32 0 1 0-57.28-28.48A103.68 103.68 0 0 0 128 608c0 118.72 205.76 192 396.48 192C736 800 896 717.44 896 608a112.64 112.64 0 0 0-9.28-44.48 32 32 0 0 0-42.24-16.96z" /></svg>
					<span class="flex-1 ml-3 text-left whitespace-nowrap">Ressouces</span>
					<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 10 6">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
					</svg>
				</button>
				<ul id="vehicle-menu-dropdown" class="hidden py-2 space-y-2">
					<li>
						<twig:SidebarLink link="/resources/box" text="Boitiers">
							<twig:block name="trail">
								<svg class="w-5 h-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
<path d="M21.9844 10C21.9473 8.68893 21.8226 7.85305 21.4026 7.13974C20.8052 6.12523 19.7294 5.56066 17.5777 4.43152L15.5777 3.38197C13.8221 2.46066 12.9443 2 12 2C11.0557 2 10.1779 2.46066 8.42229 3.38197L6.42229 4.43152C4.27063 5.56066 3.19479 6.12523 2.5974 7.13974C2 8.15425 2 9.41667 2 11.9415V12.0585C2 14.5833 2 15.8458 2.5974 16.8603C3.19479 17.8748 4.27063 18.4393 6.42229 19.5685L8.42229 20.618C10.1779 21.5393 11.0557 22 12 22C12.9443 22 13.8221 21.5393 15.5777 20.618L17.5777 19.5685C19.7294 18.4393 20.8052 17.8748 21.4026 16.8603C21.8226 16.1469 21.9473 15.3111 21.9844 14" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
<path d="M21 7.5L17 9.5M12 12L3 7.5M12 12V21.5M12 12C12 12 14.7426 10.6287 16.5 9.75C16.6953 9.65237 17 9.5 17 9.5M17 9.5V13M17 9.5L7.5 4.5" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
</svg>
							</twig:block>
						</twig:SidebarLink>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
